.dashboard{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 1, 26, 0.966);
    display: flex;
    flex-direction: row;
    
}
.admin-left >button{
    padding: 10px 10px;
    background-color: black;
    color: #fff;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    outline-width: 0;
}

.search{
   width: 200px;
   height: 30px;
   border-radius: 0;
   outline-width: 0;
   border: none;
}

.search-button{
    width:60px;
    height: 45px;
    background-color:black;
    color:white;
    border:none;
    outline-width: 0

}

.display-student{
    width: 70%;
    margin-top:0px;
    margin-left: 50px;
    height: 500px;
    background-color: rgb(72, 71, 85);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;

}


.student-details{
    flex: 0.5;
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: whitesmoke;
    height: 450px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: scroll;
    
}
.student-details::-webkit-scrollbar{
    width: 5px;
    background-color: rgb(72, 71, 85);
}
.student-details::-webkit-scrollbar-thumb{
    width: 5px;
    background-color:black;
    border-radius: 5px
}
.student-details,.parent-details >h2{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.s-details >h4{
    color:whitesmoke;
    font-weight:400;
    display: flex;
    justify-content: center;
}
.attend{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 5px 5px;
    border-radius: 4px;
    background-color:rgba(47, 43, 92, 0.658)
    
}

.s-details{
    width: 100%;
    height: 90%;
    background-color: rgb(43, 42, 65);
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    color: rgba(245, 245, 245, 0.801);
    box-sizing: border-box;
    
}
.parent-details{
    flex: 0.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    height: 90%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.p-details{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    color: rgba(245, 245, 245, 0.801);
    box-sizing: border-box;
    background-color: rgb(43, 42, 65);
}

.admin-left{
    display: flex;
    flex-direction: column;
    flex: 0.2;
    padding: 10px;
    background-color: white;
   box-sizing: border-box;
    justify-content: center
}
.admin-right{
    display: flex;
    flex: 0.8;
    padding: 20px;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}
.button{
    padding: 10px 10px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color:black;
    cursor:pointer;
    margin-bottom: 20px;
    border-radius: 5px;
}
.student-form{
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
    margin: 15vh auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;

}
input{
    padding: 7px 50px;
    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    outline-width: 0;
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif

}
input:hover{
    background-color:lavender;
}
.student-form >button{
    padding: 5px 80px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
